# 4. MATLAB Functions

In [38]:
%reload_ext pymatbridge

MATLAB closed
Starting MATLAB on ZMQ socket tcp://127.0.0.1:54059
Send 'exit' command to kill the server
......MATLAB started and connected!

In [ ]:
%%matlab
% This is an example
cost = 50
profit = 10
sale_price = cost + profit

In [ ]:
# %load example1.m
%%matlab
% This is an example
cost = 50
profit = 10
sale_price = cost + profit

In [ ]:
%%matlab
example1

In [ ]:
# %load example2.m
% This is an example
cost = 50;
profit = 10;
sale_price = cost + profit

In [ ]:
%%matlab
example2

In [39]:
%%matlab
area(3)
area(5)

area =

   28.2743


area =

   78.5398

In [ ]:
%%matlab
% This is an example
cost = 50
profit = 10
sale_price = cost + profit

In [ ]:
%%matlab
perimeter(2,3)
perimeter(3,7)
perimeter(1.2,5.3)

In [ ]:
# %load example3.m
for n = 1:10
	x(n) = n^2;
end

In [ ]:
%%matlab
example3
x

In [ ]:
# %load example4.m
for n = 1:3
	for m = 1:3
		y(m,n) = m^2 + m*n + n^2;
	end
end

In [ ]:
%%matlab
example4
y

In [ ]:
%%matlab
example5
n
tol

In [ ]:
%%matlab
example6
cost

In [42]:
%%matlab
clc;clear;
cost(4)
cost(6)
cost(8)

cost =

    12


cost =

    18


cost =

    24


cost =

    20

In [43]:
%%matlab
clc;clear;
cost2(6)
cost2(8)
cost2(10)

cost =

    15


cost =

    16


cost =

    15

In [44]:
%%matlab
clc;clear;
cost3(6)
cost3(8)
cost3(10)

cost =

    15


cost =

    16


cost =

    15